.Main {
    height: 100%;
    width: 100%;
    max-width: 600px;
    // padding-top: 100px;
    // padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    width: 100%;
    height: 100%;
    flex: 1 1 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.buttonContainer {
    width: 90%;
    margin: 20px auto 40px auto;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 40px
}